.insumo-background{

--background:linear-gradient(
180deg,
#0f2d85,
#0b2266
);

}

.contenedor{

padding:25px;
color:white;

}

h2{

text-align:center;
font-weight:bold;
margin-bottom:25px;

}

.icono-insumo{

font-size:90px;

text-align:center;

margin-bottom:10px;

}

p{

text-align:center;

font-size:13px;

margin-bottom:25px;

}

.campo{

--background:rgba(
255,
255,
255,
0.1
);

border-radius:15px;

overflow:hidden;

margin-bottom:15px;

}

.botones{

display:flex;

justify-content:space-between;

margin-top:20px;

}

.cancelar{

width:45%;

}

.guardar{

width:45%;

}