.campo{

  margin-bottom:18px;

}

.input-wrapper{

  display:flex;

  align-items:center;

  gap:12px;

  background:rgba(255,255,255,0.10);

  border:1px solid rgba(255,255,255,0.15);

  border-radius:15px;

  padding:0 12px;

  backdrop-filter:blur(5px);

}

.icono{

  color:white;

  font-size:22px;

  flex-shrink:0;

}

.icono-click{

  cursor:pointer;

}

ion-input{

  --background:transparent;

  --color:white;

  --placeholder-color:#c5d0ff;

  flex:1;

}